.app{
    min-height: 100vh;
    background-color: rgb(183, 172, 137);
    background-color:dimgrey;

    .main-section{
        height: calc(100vh - 3em);
    }
    header{
        height: 3em;
        outline:1px solid black;
        text-align: center;
    }

    footer{
        text-align: center;
        font-size: xx-small;
        padding:1em 0;
    }
}