.chat-room {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 3em);
    background-color: rgb(169, 171, 174);

    .chat {
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        flex-grow: 1;
        gap: 0.3em;
        padding: 0.3em 0;
        overflow-y: scroll;
        -ms-overflow-style: none; 
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }

        .chat-line {
            width: fit-content;
            padding: 0.3em 0.8em;
            border-radius: 1em;
            background-color: aquamarine;

            &.in-msg {
                align-self: end;
                background-color: rgb(109, 101, 101);
                color: whitesmoke;
            }
        }
    }

    .msg-input-wrapper {
        background-color: dimgrey;
        width: 100vw;
        padding: 1em 0;
        display: flex;
        justify-content: center;

        [name="msg-input"] {
            width: 90vw;
            border: none;
            border-radius: 15px;
            line-height: 1.5;
            padding: 0 1em;
            &:focus{
                outline: none; 
            }
        }

        button {
            margin-inline-start: 0.4em;
        }
    }
}